$browserHeight: 552px;
$browserHeader: 40px;

@mixin circle ($color) {
  position: absolute;
  border: 2px solid $color;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.browserbox {
  border: 2px solid #D0D5D9;
  border-radius: 3px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;

  .topbar {
    height: $browserHeader;
    position: relative;
    border-bottom: 2px solid #D0D5D9;

    .circles {
      @include circle(#D0D5D9);
      top:12px;
      left: 37px;

      &:before, &:after {
        content: "";
        @include circle(#D0D5D9);
        top: -2px;
        left: 18px;
      }

      &:after {
        left: -23px;
      }
    }
  }

  img {
    display: block;
    margin: auto;
  }
}

header {
  .browserbox {
    border: 2px solid #fff;
    border-radius: 2px;
    width: 90%;
    max-width: 472px;
    max-height: $browserHeight;
    margin: auto;
    text-align: center;

    .topbar {
      height: $browserHeader;
      position: relative;

      .circles {
        @include circle(#fff);
        top:12px;
        left: 37px;

        &:before, &:after {
          content: "";
          @include circle(#fff);
          top: -2px;
          left: 18px;
        }

        &:after {
          left: -23px;
        }
      }

      .title {
        line-height: $browserHeader;
        color: #fff;
      }
    }

    .content {
      background: #fff;
      height: $browserHeight - $browserHeader;
    }
  }
}
