.main-block {
  width: 100%;
  overflow: hidden;
  top: 0px;

  .block {
    float:left;
    height: 600px;
    box-sizing: border-box;
    opacity: 0.15;
    transition: opacity 0.3s ease;
    display: table;

    &.active {
      opacity: 1;
    }

    .block-inner {
      display: table-cell;
      vertical-align: middle;
    }
  }

  #about {
    width: 25%;
    background: $primary;
  }

  #design, #code {
    width: 37%;
  }

  #design {
    background: $secondary;

    ul{

      padding-top: 50px;
      margin-left: 80px;

      li {
        color: #FF6258;
        list-style: none;
        text-align: left;
        font-size: 22px;
        letter-spacing: 1.1;

        &.identity {
          background: url(../images/design_icon_identity.png) no-repeat;
          background-size: 100px 100px;
          height: 100px;
          line-height: 100px;
          padding-left: 120px;
          margin-bottom: 40px;
        }

        &.experience {
          background: url(../images/design_icon_experience.png) no-repeat;
          background-size: 100px 100px;
          height: 100px;
          line-height: 100px;
          padding-left: 120px;
          margin-bottom: 40px;
        }

        &.interface {
          background: url(../images/design_icon_interface.png) no-repeat;
          background-size: 100px 100px;
          height: 100px;
          line-height: 100px;
          padding-left: 120px;
        }
      }
    }
  }

  #code {
    background: $tertiary;

    .content {
      padding: 60px 0px 0px 50px;
      box-sizing: border-box;

      span {
        font-family: 'Fira Mono';
        font-size: 18px;
        line-height: 28px;
        display: block;
        text-align: left;

        span {
          display: inline;
        }

        &.red {
          color: #F67A64;
        }

        &.orange {
          color: #FDC080;
        }

        &.grey {
          color: #8A939A;
        }
      }
    }
  }
}
