.mobile-box {
  border: 2px solid #D0D5D9;
  border-radius: 38px;
  max-width: 304px;

  .mobile-content {
    border: 2px solid #D0D5D9;
    margin: 45px 8px 65px;

    img {
      display: block;
    }
  }
}
